
body, html {
	height: 100%;

}

body {
	font-family: Helvetica;
	color: #222;	
	overflow: hidden;
}


.container {
	position: relative;
	z-index: 6;
	width: 100%;
	height: 100%;
	text-align: center;
}

/*-----------ACHTERGROND-----------*/

.background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%; 
	width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-day {
	z-index: 4;
	
	background-image: url("../images/daysky1.jpg");
}
#bg-night {
	z-index: 2;
	opacity: 0;
	background-image: url("../images/nightsky1.jpg");
}


/*-----------ZON EN MAAN-----------*/
#sun {
	opacity: 1;
	position: relative;
	z-index: 10;
	max-width: 10%;
	margin-top: 0;
}

#moon {
	opacity: 0;
	position: relative;
	z-index: 9;
	max-width: 8%;
	margin-bottom: 12%;
}




/*-----------KLOK-----------*/


#clock {

	position: relative;
	background-color: #FFFFFF;
	opacity: 0.5;
}

#time {
	font-size: 6em;
	text-align: center;
}

h1 {
	margin-top: 5%;
	margin-bottom: 40%;
	display: block;
	font-size: 3em;

}


/*-------- iPAD --------*/

@media only screen and (min-width: 760px){
	#clock {
		margin-top: 5%;
	}

	.circle {

	}

}


/*-------- LAPTOP --------*/

@media only screen and (min-width: 1204px){

	.circle {
		margin-left: 18%;
	}	

	h1 {
		margin-top: 5%;
		margin-bottom: 20%;
		display: block;
		font-size: 3em;

	}


}

/*-------- DESKTOP --------*/

@media only screen and (min-width: 1366px){


	.circle {
		padding: 0;
		margin-left: 28%;
	}	

	h1 {
		margin-top: 2%;
		margin-bottom: 15%;
		display: block;
		font-size: 3em;

	}

}















